
html { 
    background: url("pictures/etch-a-sketch-screen.png") no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: 100% 100%;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
}


#container {
    display: flex;
    width: 576px;
    height: 576px;
    margin: auto;
    flex-wrap: wrap;
    flex-shrink: 0;
    position: relative;
}

#buttons {
    display: flex;
    justify-content: space-between;
}

#footer {
    display: flex;
    justify-content: center;
    
}

.grid {
    outline: 1px solid black;
}





