
html { 
    background: url("pictures/etch-a-sketch-screen.png") no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: 100% 100%;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
   

}
#centerContainer {
    display: flex;
    justify-content: center;
    padding-bottom: 10px;
    margin-top: 200px;
    padding-top: 40px;
    
}

#container {
    display: flex;
    width: 750px;
    height: 500px;
    flex-wrap: wrap;
    flex-shrink: 0;
    
}

#buttons {
    display: flex;
    justify-content: space-between;
    margin-top: 65px;
}



#rainbowMode {
    width: 150px;
    height: 150px;
    background-color: transparent;
    border-radius: 80px;
    border-color: transparent;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: 600;
}


#footer {
    margin-top: auto;
    font-family:fantasy;
    color: white;
}


#gridButton {
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: 600;
    width: 150px;
    height: 150px;
    background-color: transparent;
    border-radius: 80px;
    border-color: transparent;
}

a {
    text-decoration: none;
    color: white;
}


